<nav>
  <% if (user && user.username) { %>
    <a href="/">Back to dashboard</a>
    <a href="/users">Sign Out</a>
  <% } else { %>
    <a href="/users/login">Sign In</a>
    <a href="/users/sign-up">Sign Up</a>
  <% } %>
</nav>