<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Hey there!</h1>
    <p>Welcome to the Habit Tracker App!</p>
    <p>Please <a href="/users/signup"> Sign up</a> or <a href="/users/login">log in</a>.</p>
</body>
</html>