    body {
        font-family: Arial, sans-serif;
        text-align: center;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }   

h1, p {
    font-family: Arial, sans-serif;
    text-align: center;
}