    body {
        background-color: rgb(79, 53, 40);
        color: white;   
        text-align: center;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }   

    .carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
}

