    body {
        background-color: rgb(79, 53, 40);
        color: white;   
        text-align: center;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }   

    .carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
}
a {
    color: white;
    text-decoration: none;

}

div {
    margin: 12px 0;
    background-color: rgba(0, 0, 0, 0.596);
    height: 50px;
    border-radius: 10px;
    width: 300px;
}